/*.geraform{
        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
        height: 100%;
        float: right;
        margin-top: 50px;
        margin-bottom: 90px;
        padding: 0%;
        border-radius: 5px;
}*/
.men{
    display: none;
}

/*.pergun{*/
    
/*}*/

.title{
    padding: 0px;
}
.conteudo{
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

/*h3{
    margin-top: 20px;
    margin-left: 10%;
}*/
.input_title{
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.input_desc{
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    text-align: left;
}

.icone{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.menu{
    background-color: #03a9f4;
    float: left;
    display: block;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    
}
/*body{
    margin:0%;
    background-color: #a7e1fb;
    height: 100%
}*/
.footer{
    width: 40%;
    margin-left: 40%;
    position:fixed;
    bottom:0;
    text-align: center;
}

.fots{
        width:100%;
        height: auto;
        margin: 0%;
}
.perfil{
        margin-top: 35px;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        background-color: #aaa;
        border-radius: 50%;
        width: 80%;
        height: auto;
        overflow: hidden;
        position: relative;
}
.bot{
        width: 80%;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 10%;
        margin-right: 10%;
}
.nome{  
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 50px;
}
.conteu{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
        width: 80%;
        font-size: 17px;
        margin-bottom: 30px;
}
::-webkit-scrollbar-track {
    background-color: gray;
}
::-webkit-scrollbar {
    text-align: left;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #007bff;
}



@media only screen and (max-width: 720px) {
    body{
        background-color: #a7e1fb;
    }
    .nav {
        background-color: #03a9f4;
        width: 100%;
    }
    .geraform{
        width: 100%;
        background-color: white;
        height: 100%;
        margin:0%;
        margin-bottom: 60px;
    }
    .menu{
        display: none;
    }
    .footer{
        width: 100%;
        margin-left: 0%;
    }
    .input_title{
        font-size: 15px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
    .men{
        display: inline;
    }
    .modal{
        text-align: center;
        font-size: 15px;
    }
    .fotinha{
        margin-top: 30px;
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 20px;
        background-color: #aaa;
        border-radius: 50%;
        width: auto;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .perfil{
        width:100%;
        height: auto;
        margin: 0%;
    }
    .bot{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .nome{
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 50px;
    }
    .conteu{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        height: 100%;
        width: 80%;
        font-size: 17px;
        margin-bottom: 30px;
    }
}