
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/catamaran/Catamaran-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/catamaran/Catamaran-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/catamaran/Catamaran-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/catamaran/Catamaran-Bold.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

.pergun{
  max-height: max-content;
  positon:fixed;
}
.scrou{

}
.rounded-circle{
    border: 4px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.modal-lg {
    max-width: 90% !important;
}
.perguntasc {
  height:20px;
  width:450px;
}
.perguntasl {
  height:20px;
  width:450px;
}
.pps {
  border-bottom:1px solid #ccc;
  width:100%;
  padding:10px;
  font-family:verdana;
  font-size:14px;
  
}
.pps input[type=radio], input[type=checkbox] {
  width: 20px;
  height: 20px;
  padding-right:10px;
}
.ppz {
  width:100%;
  padding:10px;
}
#nome-user{
  margin-top: 15%;
  margin-bottom: 15%;
  color: white;
}
.correcao{
  margin-right: 1%;
}

.foto{
  padding-top:10px;
  margin-left: 7%;
}
#user{
  background-color: rgba(67, 101, 127, 0.3);
}
.contuser{
  overflow-y: auto;
  height: 100%;
}
.formss{
  overflow-y: auto;
  height: 100%;
}
* {
	margin: 0%; 
	padding: 0%; 
	box-sizing: border-box;
}
.card{
  margin-bottom: 30px;
}
.painel{
  margin-bottom: 10px;
}
.frescuras{
  background-color: rgba(33, 150, 243, 0.9);
}
.frescuras-btn{
  background-color: white;
  margin: 3px solid #03a9f4;
}
.modper{
  background-color: rgba(33, 150, 243, 0.9);
}
#img-user{
  height: 200px;
}
.linha{
  height: 80%;
}
footer{
  background-color: rgb(33, 150, 243);
}
.rowzin{
  height: 88%;
}

body{
  margin:0%;
  padding: 0%;
  height: 100%;

}
html{
  font-family: "Catamaran", sans-serif;
  height: 100%;
}

/*---------------------------------------------*/
a {
	font-family: "Catamaran";
	font-size: 14px;
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #2196f3;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: "Catamaran";
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family:  Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.txt2 {
  font-family:  Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #2196f3}
.bg3 {background-color: #2196f3}



/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
  font-family: Poppins-SemiBold;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}


/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.contcard{
  height: 120px;
  overflow: auto;
}

.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #adadad;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #d5007d;
  background: -webkit-linear-gradient(45deg, #01aef2, #2196f3);
  background: -o-linear-gradient(45deg, #01aef2, #2196f3);
  background: -moz-linear-gradient(45deg, #01aef2, #2196f3);
  background: linear-gradient(45deg, #01aef2, #2196f3);
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.input100:focus + .focus-input100::after {
  color: #2196f3;
}

.has-val.input100 + .focus-input100::after {
  color: #2196f3;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0px #00FFFF;
  -moz-box-shadow: 0 5px 30px 0px #00FFFF;
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #00BFFF, #2196f3, #00dbde, #2196f3);
  background: -o-linear-gradient(right, #00BFFF, #2196f3, #00dbde, #2196f3);
  background: -moz-linear-gradient(right, #00BFFF, #2196f3, #00dbde, #2196f3);
  background: linear-gradient(right, #00dbde, #2196f3, #00dbde, #2196f3);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.respo{
    display: none;
  }

@media (max-width: 800px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  h2{
    width: 50%;
  }
  #user{
    display: none;
  }
  .respo{
    display:block;
  }
  #img-user{
  height: 300px;
  }
  .rounded-circle{
    border: 4px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  }
  #conteudo{
    background-color: white;
    overflow-x: hidden;
  }
  body, html{
    background-color: white;
    overflow: hidden;
  }
  .card{
    margin-bottom: 50px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/


@media (max-width: 400px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
  h2{
    width: 50%;
  }
  #img-user{
    height: 300px;
  }
}


  
         /*======================INPUT====PERSONALIZADO=====================*/

  

#namer {
 position: relative;
 width: 100%;
}

#namer input {
 border: 0;
 border-bottom: 2px solid rgb(54, 160, 244);
 width: 100%;
 font-size: 23px;
 line-height: 35px;
 height: 100%;
 padding: 10px;
 background: transparent;
}

#namer input.shake {
 -webkit-animation-name: shaker;
         animation-name: shaker;
 -webkit-animation-duration: 200ms;
         animation-duration: 200ms;
 -webkit-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
 -webkit-animation-delay: 0s;
         animation-delay: 0s;
}

#namer input:focus {
 outline: 0;
}



.namer-controls {
 position: relative;
 display: block;
 height: 30px;
 margin: 20px 0;
 text-align: center;
 opacity: 0.3;
 cursor: not-allowed;
}

.namer-controls.active {
 opacity: 1;
 cursor: pointer;
}

.namer-controls div {
 float: left;
 width: 33.33%;
}

.namer-controls div span {
 box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
 padding: 10px 5px;
 width: 100%;
 display: inline-block;
 margin-right: 5%;
 border-radius: 30px;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 0.3px;
}

.namer-controls div span:last-child {
 margin-right: 0;
}

.namer-controls div span.active {
 box-shadow: none;
 background-color: #1976D2;
 color: #fff;
}

#namer-input.serious input {
 letter-spacing: 2px;
 text-transform: uppercase;
 font-family: 'Andada', serif;
 font-weight: 500;
}

#namer-input.modern input {
 font-family: 'Raleway', sans-serif;
 text-transform: lowercase;
 font-weight: 300;
 letter-spacing: 10px;
}

#namer-input.cheeky input {
 font-family: 'Permanent Marker', cursive;
 font-size: 40px;
}

@-webkit-keyframes shaker {
 0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  opacity: 0.8;
 }
 10% {
  -webkit-transform: translate(10px, 7px) rotate(-9deg);
          transform: translate(10px, 7px) rotate(-9deg);
  opacity: 0.6;
 }
 20% {
  -webkit-transform: translate(13px, -19px) rotate(-3deg);
          transform: translate(13px, -19px) rotate(-3deg);
  opacity: 0.3;
 }
 30% {
  -webkit-transform: translate(-6px, -6px) rotate(2deg);
          transform: translate(-6px, -6px) rotate(2deg);
  opacity: 0.4;
 }
 40% {
  -webkit-transform: translate(-9px, -18px) rotate(-5deg);
          transform: translate(-9px, -18px) rotate(-5deg);
  opacity: 0.4;
 }
 50% {
  -webkit-transform: translate(10px, -8px) rotate(5deg);
          transform: translate(10px, -8px) rotate(5deg);
  opacity: 0.7;
 }
 60% {
  -webkit-transform: translate(-10px, 14px) rotate(-6deg);
          transform: translate(-10px, 14px) rotate(-6deg);
  opacity: 1;
 }
 70% {
  -webkit-transform: translate(10px, 3px) rotate(6deg);
          transform: translate(10px, 3px) rotate(6deg);
  opacity: 0.1;
 }
 80% {
  -webkit-transform: translate(-2px, 20px) rotate(-6deg);
          transform: translate(-2px, 20px) rotate(-6deg);
  opacity: 1;
 }
 90% {
  -webkit-transform: translate(-7px, -19px) rotate(2deg);
          transform: translate(-7px, -19px) rotate(2deg);
  opacity: 0.5;
 }
}

@keyframes shaker {
 0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  opacity: 0.8;
 }
 10% {
  -webkit-transform: translate(10px, 7px) rotate(-9deg);
          transform: translate(10px, 7px) rotate(-9deg);
  opacity: 0.6;
 }
 20% {
  -webkit-transform: translate(13px, -19px) rotate(-3deg);
          transform: translate(13px, -19px) rotate(-3deg);
  opacity: 0.3;
 }
 30% {
  -webkit-transform: translate(-6px, -6px) rotate(2deg);
          transform: translate(-6px, -6px) rotate(2deg);
  opacity: 0.4;
 }
 40% {
  -webkit-transform: translate(-9px, -18px) rotate(-5deg);
          transform: translate(-9px, -18px) rotate(-5deg);
  opacity: 0.4;
 }
 50% {
  -webkit-transform: translate(10px, -8px) rotate(5deg);
          transform: translate(10px, -8px) rotate(5deg);
  opacity: 0.7;
 }
 60% {
  -webkit-transform: translate(-10px, 14px) rotate(-6deg);
          transform: translate(-10px, 14px) rotate(-6deg);
  opacity: 1;
 }
 70% {
  -webkit-transform: translate(10px, 3px) rotate(6deg);
          transform: translate(10px, 3px) rotate(6deg);
  opacity: 0.1;
 }
 80% {
  -webkit-transform: translate(-2px, 20px) rotate(-6deg);
          transform: translate(-2px, 20px) rotate(-6deg);
  opacity: 1;
 }
 90% {
  -webkit-transform: translate(-7px, -19px) rotate(2deg);
          transform: translate(-7px, -19px) rotate(2deg);
  opacity: 0.5;
 }
}


#hastylink {
  position: fixed;
  bottom:5px;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
	letter-spacing: 1px;
	opacity: 0.5;
}
#hastylink:hover {
	opacity: 1
}