.resu{
    height: auto;
    margin-top: 20px;
    border-top: 1px solid rgb(223,223,223);
    padding: 10px;
}
.result{
    color: black;
}

.left {
  margin-top: 2%;
}
.main_res {
  margin-top: 2%;
  margin-bottom: 15%;
}

body {
    background-color: white;
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: 100%;
    font-family: 'Poppins-Regular';
}
nav{
    width: 100%;
    display: block;
}
.pagination{
    position: absolute;
    bottom:0%;
}
    