.resu{
    height: auto;
    margin-top: 20px;
    border-top: 1px solid black;
    padding-top: 10px;
}
.result{
    color: black;
}
.tags{
      margin: 10px;
      float:left ;
      height: auto;
      position: relative;
      width:93%;
    }
.left {
  border:1px solid #70baf4;
  margin-top: 1%;
  background-color:white;
  padding-top: 0%;
  float:left ;
  margin-left: 10%;
  position: relative;
  width:20%;
  border-radius: 5px;
}
.main {
  border:1px solid #70baf4;
  margin-top: 1%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float:left;
  margin-right: 9%;
  margin-bottom: 50px;
  margin-left: 1%;
  width:60%;
  border-radius:5px;
}
.tig{
    font-weight: bold;
    margin:0%;
    text-transform: capitalize;

}
.hash{
      color: black;
      text-transform: capitalize;
    }


/*Inicio resolução pequena*/
@media screen and (max-width:720px) {
  .main{
    margin:0%;
    width: 100%;
    margin-top: 0%;
    margin-bottom:30%;
    border-radius: 0%;

  }
  .left{
    display: flex;
    margin:0%;
    width:100%;
    border-radius: 0%;
  }
   .scro{
       padding-top:3px;
       padding-bottom:3px;
       overflow:auto;
       white-space: nowrap;
       margin-top:32%;
       width: 100%;
   }
   .resu{
      background-color: #D3D3D3;
      float:left ;
      height: auto;
      width:100%;
      margin-left: 0%;
      margin-right: 0%;
      text-transform: capitalize;
    }
    .tig{
        font-weight: bold;
        margin-left: 5px;
        text-transform: capitalize;
    }
    .tags{
      float:left ;
      height: auto;
      position: relative;
    }
    .hash{
      color: white;
      text-transform: capitalize;
    }
    body{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #eaf9f9;
    }
    .navbar{
        width: 100%;
    }
    
}
 /*Fim resolução pequena*/


.footer{
    
    width:100%;
    height: 25px;
    background-color: black;
    opacity: 0.7;
}
body { 
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: 100%;
    font-family: 'Poppins-Regular';
}
nav{
    width: 100%;
    display: block;
}
.pagination{
    position: absolute;
    bottom:0%;
}