body { background-color:red;overflow-x: hidden; margin:0;padding:0;}
/* NAV BAR */
.inputNav {
    position:relative;
    top:9px;
}

/* NAV BAR */

#imgtop {height:512px;background-color:#5a5a5a;}

.imgf img {
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: 1.7s linear;
}

.m{
    margin-left:+100px;

}
.imgh img {
    width: 500px;
    height: 500px;
}
.text1{
}

/* */

.imgm img {
    width: 500px;
    height: 500px;
}

.c{
   
}


