body { background-color:red; }
#nav { background-color:blue; }
#img-nav { background-color: red; }
#imgtop {height:512px;background-color:#5a5a5a;}
#search-nav { background-color:yellow; }
#btn-nav { background-color:green; }


